@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
 }
/* media quory starts */
@media (max-width:767px) {
    .main-header {
        flex-direction: column;
        padding:20px !important;
        align-items: center;
        position:relative !important;
    }
    .main-header .links a{
        font-size:15px;
    }
    ul.links.d-flex {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .section-1 .main-header .logo-container img {
        width: 100px;
        height: 71px;
    }
    .main-header .links li{
        padding-right:15px !important;
    }

    .header-button {
        display: none
    }
    .section-1 .footer h1{
        padding-top:70px !important;
        padding-left:20px;
        padding-right:20px
    }

    .section-1 .footer p {
        padding:20px !important;
    }
    .section-2 p{
        padding:20px;
    }

    .section-2>.d-flex {
        flex-direction: column;
    }

    .section-3>.d-flex {
        flex-direction: column;
        align-items: center;
    }

    .section-3 .circle-pad {
        padding-top: 33px;
    }

    .section-3 .d-flex {
        padding-top: 10px;
    }

    .section-4>.d-flex {
        flex-direction: column;
    }
    .section-4 .pad-item4{
        padding: 50px;
    }
    .section-4 .image-align{
        padding-left: 0px;
        padding-top: 50px;
        padding-bottom: 60px;
        padding-right:50px;
    }
    .section-4 .align-section4{
        text-align: center !important;
    }
    .section-4 .sec4-align{
        padding-left: 30px;
        padding-top: 0px !important;
    }
    .section-4 h1{
        padding-left:  0px !important;
    }
    .section-4 p{
        padding-left: 0px !important;
    }
    .section-4 .button-all{
        margin-left: 0px !important;
    }
    .section-5>.d-flex {
        flex-direction: column;
    }
    .section-5 .pad-item5 {
        padding: 50px;
    }
    .section-5 .align-section5{
        padding-left: 0px !important;
        padding-top: 0px !important;
        text-align: center !important;
    }

    .section-5 .image-align1 {
        padding-left: 0px;
        padding-top: 50px;
    }

    .section-6 .pad-item6 {
        flex-direction: column;
    }
    .section-7 .d-flex, .mob-view-align{
        flex-direction: column;
    }
    .section-7 .d-flex h2{
        text-align: center ;
    }
    
    .section-7 .align-left-para{
        text-align: center !important;
    }
    .section-7 .align-center{
        text-align: center;
    }

    .section-8 .last-para {
        text-align: center;
    }

    .footer-sec .d-flex {
        flex-direction: column;
        padding: 0px;
    }
    .footer-sec .left-align{
        padding-right: 0px;
    }
    footer .d-flex .footer-h3{
        padding: 0px !important;
    }
    .footer-sec .links li{
        padding-left: 0px !important;
    }
    .mob-align-footer{
        padding-bottom: 20px;
    }
}

/* media quory end*/
body {
    margin: 0px;
    color: white;
}

.d-flex {
    display: flex;
}

body {
    font-family: Poppins;
    font-size: 20px;
}

.d-block {
    display: block;
    padding-top: 2px;
}

h1 {
    padding-top: 50px;
    font-size: 60px;
    margin-top: 0px
}

.button-all {
    background-color: rgb(255, 217, 0);
    height: 50px;
    width: 230px;
    color: white;
    border: none;
    border-radius: 34px;
    font-weight: bold;
    font-size: 21px;
}
.button-all:hover{
    background-color: #ffbf00;
}

/*section1 start*/
.section-1 {
    background-image: linear-gradient(#0b84d570, #0b84d570), url(./pic/banner_image.jpg);
    background-size: cover;
    padding-bottom: 70px;
}

/* main header start*/
.section-1 .pos-item{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
}
.logo-container {
    width: 100px;
    height: 90px;
}

.main-header {
    background-color: #0549ef91;
    justify-content: space-between;
    padding: 15px 45px;
}

.main-header .links {
    list-style: none;
}

.main-header .links a {
    color: white;
    text-decoration: none;
}

.main-header .links {
    align-items: center;
}

.main-header .links li {
    /* justify-content: space-between; */
    /* padding-left: 20px; */
    padding-right: 28px;
}

.main-header button .header-button {
    width: 34px;
}

.main-header button {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 25px;
}

.main-header .header-button img {
    width: 100%
}

/* main header end*/
.section-1 .footer h1 {
    padding-top: 181px;
    text-align: center;
    font-size: 60px;
}

.footer {
    text-align: center;
}

.section-1 .footer p {
    padding-bottom: 40px;
}

/*section1 end*/
/*Section 2 start---------------------------------*/
.section-2 {
    background-color: #0b84d5;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.section-2 .d-flex img {
    width: 250px;
    height: 250px;
}

.section-2 h1 {
    padding-top: 50px;
    font-size: 60px;
    margin-top: 0px
}

.section-2 .section2-div {
    padding-top: 10px
}

.section-2 p {
    padding-bottom: 50px;
}

.section-2 .d-flex div {
    padding-left: 20px;
    padding-right: 20px;
}

/*Section 2 end-----------------------------------*/
/*section 3 start---------------------------------*/
.section-3 {
    text-align: center;
    background-image: linear-gradient(#ff9113bc, #ff9113bc), url(./pic/pet_care_banner.png.jpg);
}

.section-3 .d-flex .circle-section3 {
    border: 10px solid white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.section-3 .d-flex {
    padding-top: 50px;
    padding-bottom: 150px;
    justify-content: center
}

.section-3 .circle-pad {
    padding-left: 60px;
    padding-right: 60px;
}

.section-3 h2 {
    margin: none;
    padding-top: 20px;
}

/*Section 3 end-----------------------------------*/
/*Section 4 start-----------------------------------*/
.section-4 {
    background-color: #0b84d5;
}

.section-4 .align-section4 {
    text-align: left;
}
.section-4 .image-align>img {
    width: 100%;
}
.section-4 h1{
    padding-left: 100px;
}
.section-4 p{
    padding-left: 100px;
}
.section-4 .button-all{
    margin-left: 100px;
}
.section-4 .sec4-align{
    padding-top:100px;
}

.image-align {
    width: 100%;
    padding-top: 73px;
    padding-right: 110px;
    padding-left: 195px;
}

.section-4 .pad-item4 {
    padding-bottom: 78px;
}

/*Section 4 end-----------------------------------*/
/*Section 5 start-----------------------------------*/
.section-5 {
    background-color: #58bbfc;
}

.section-5 .align-section5 {
    padding-left: 148px;
    padding-top: 100px;
    text-align: left;
}

.section-5 .image-align1 img {
    width: 100%;
}

.image-align1 {
    width: 100%;
    padding-top: 73px;
    padding-left: 100px;
    padding-right: -3px;
}

.section-5 .pad-item5 {
    padding-bottom: 78px;
}

.align-section5 {
    padding-top: 100px;
}

/*Section 5 end-----------------------------------*/
/*Section 6 start-----------------------------------*/
.section-6 {
    text-align: center;
    background-color: #0b84d5;
    padding-left: 15px;
    padding-right: 15px;
}

.section-6 .one .flex-2 {
    background-color: #ffc000;
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 200px;
    font-size: large;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.section-6 .one h2 {
    padding-top: 25px;
    color: #0b84d5;
}

.section-6 .one h3 {
    color: #0b84d5;
}

.section-6 .one p {
    color: #0b84d5;
    font-size: 20px;
}

.section-6 .bg-color {
    background-color: white;
    /* padding-left: 10px; */
    border-radius: 5px;
}

.section-6 .one {
    padding-left: 30px;
    padding-right: 30px;
}

.section-6 .pad-item6 {
    padding-bottom: 60px;
}

/*Section 6 end-----------------------------------*/
/*Section 7 start-----------------------------------*/
.section-7 {
    background-color: #58bbfc;
}

.title-para {
    text-align: center;
}

.section-7 .d-flex {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    /* text-align: center; */
}

.section-7 .align-left-para {
    text-align: left;
    font-weight: normal;
    /* text-align: center; */
}

.section-7 img {
    width: 100px;
    height: 100px;
    padding-top: 38px;
    padding-right: 23px;
    /* text-align: center; */
}

.section-7 .bottom-pad {
    padding-bottom: 100px;
}

/*Section 7 end-----------------------------------*/
/*Section 8 start-----------------------------------*/
.section-8 {
    background-image: linear-gradient(#ffbf00d5, #ffbf00d5), url(./pic/dr_Jenny.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-8 .last-para {
    padding-top: 140px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 0px;
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

.section-8 .doc-name {
    padding-top: 50px;
    padding-bottom: 190px;
    margin-bottom: 0px;
}

/*Section 8 end-----------------------------------*/
/* footer section start---------------------------*/
.footer-sec {
    background-color: dimgrey;
}

.footer-left {
    padding-top: 10px;

    margin-bottom: 0px;
}

footer .footer-para {
    margin-bottom: 0px;
}

.footer-sec .links li {
    list-style: none;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-sec .links a {
    color: white;
    text-decoration: none;
}

.footer-sec .left-align ul {
    padding-left: 0px;
}
.footer-sec .left-align a {
    font-size: 16px;
}
footer .flex-dir{
    display: flex;
}

.d-flex.links.\.footer-left {
    padding: 25px 50px;
}

p.footer-para {
    padding-right: 0px;
    padding-bottom: 19px;
}

.social-icons {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
}

.social-icons .fa-brands {
    font-size: 19px;
    color: black;
    font-weight: 20px;
    padding: 7px;
}
footer .d-flex {
    padding-left: 213px;
}

footer .d-flex .footer-h3 {
    padding-left: 40px;
}

/* footer section end---------------------------- */

